# Nuxt dev/build outputs
js/.output
js/.data
js/.nuxt
js/.nitro
js/.cache
js/dist

# Node dependencies
js/node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
database.sqlite

python/.venv

schematics/whenisbins/whenisbins-backups
