[Unit]
Description=Set LCD to show booting message
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
User=toby
Type=oneshot
ExecStart=/home/toby/when-is-bins/scripts/boot/onboot.sh
TimeoutSec=10

[Install]
WantedBy=multi-user.target
